body {
    width: 350px;
}

input[type=text] {
    width: 80%;
}

input[type=checkbox] {
    margin-right: 10px;
}

li {
    list-style-type: none;
    list-style-position: outside;
}

table {
    border: 1px solid #000;
    min-width: 200px;
    font-size: 14px;
}

th {
    background-color: #e6e6e6;
}

th.header {
    background-color: #a6a6a6;
}

th, tr, td {
    border: 1px solid #000;
    padding: 2px 5px;
}

#date {
    float: left;
}

#hours {
    float: right;
}

#btn-submit-time {
    background-color: #98e698;
    margin-left: 0;
}

#btn-delete-all {
    background-color: #ff9999;
    width: 90%;
    margin-bottom: 0;
}

#btn-clear-time {
    width: 90%;
}

.btn.btn-small.btn-default {
    margin: 15px;
}

.project-item .btn-delete-one {
    visibility: hidden;
}

.project-item:hover .btn-delete-one {
    visibility: visible;
}

.ng-hide {
    display: none;
}
